<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DEVPTCSURVEYMAINEntities" connectionString="metadata=res://*/MainModel1.csdl|res://*/MainModel1.ssdl|res://*/MainModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.200.3;initial catalog=DEVPTCSURVEYMAIN;user id=sa;password=Appy_1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DEVPTCSURVEYMALEGAONEntities" connectionString="metadata=res://*/ChildDatabase.ChildModel1.csdl|res://*/ChildDatabase.ChildModel1.ssdl|res://*/ChildDatabase.ChildModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.200.3;initial catalog=DEVPTCSURVEYMALEGAON;user id=sa;password=Appy_1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->

    <!--<add name="DEVPTCSURVEYMAINEntities" connectionString="metadata=res://*/MainModel1.csdl|res://*/MainModel1.ssdl|res://*/MainModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-A5J288PK\SQLEXPRESS;initial catalog=DEVPTCSURVEYMAIN;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="DEVPTCSURVEYMALEGAONEntities" connectionString="metadata=res://*/ChildDatabase.ChildModel1.csdl|res://*/ChildDatabase.ChildModel1.ssdl|res://*/ChildDatabase.ChildModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-A5J288PK\SQLEXPRESS;initial catalog=DEVPTCSURVEYMALEGAON;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  <add name="DEVPTCSURVEYMALEGAONEntities" connectionString="metadata=res://*/ChildDatabase.ChildModel1.csdl|res://*/ChildDatabase.ChildModel1.ssdl|res://*/ChildDatabase.ChildModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=DEVPTCSURVEYMALEGAON;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>