body {
    font-size:0.8rem !important
}
.label{font-size:0.9rem !important}
hr{border-top:black !important}
.back {
    background:#abe2b7;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 1%;
    border: 1px solid #12b3de;
}



#logo1 {
    position: absolute;
    height: 150px;
    top: 0%;
    left: 13%
}


#logo2 {
    position: absolute;
    height: 90px;
    top: 6%;
    right: 7%
}
@media (max-width:1024px){
    .width{
        max-width:880px
    }
    #logo2{right:3%}
}