@model BLL.ViewModel.PropertyMasterVM
@{
    ViewBag.Title = "SurveyChildTable";
}

<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Script/SurveyDatatableChild.js"></script>

<style>
    td.details-control {
        background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
    }
</style>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>PrabhagNo </th>
            <th>Ward No </th>
            <th>Cons. Start Date </th>
            <th>Cons. End Date </th>
        </tr>
    </thead>
</table>


